{{!-- Available Data:
postDataClean.
                id
                title
                content
                creator_id
                createdAt
                updatedAt
                user.username--}}

<div class="row text-center">
    <h2>Posts</h2>
</div>

{{#each postDataClean as |post|}}
<a href="/post/{{post.id}}">
    <div class="card w-100 my-2 bg-info">
        <div class="card-body">
            <div class="row text-white">
                <div class="col-8">
                    <h5 class="card-title p-2 my-auto">{{post.title}}</h5>
                </div>
                <div class="col-4">
                    <h6 class="card-subtitle p-2 my-auto">Posted by {{post.user.username}} on {{format_date post.createdAt}}</h6>
                </div>
            </div>
            <p class="card-text bg-white p-4">{{post.content}}</p>
        </div>
    </div>
</a>
{{/each}}