{{!-- Available Data:
postDataClean.
                id
                title
                content
                creator_id
                createdAt
                updatedAt
                user.
                        id
                        username
commentDataClean.
                    id
                    content
                    creator_id
                    post_id
                    createdAt
                    updatedAt
                    user.
                            id
                            username
logged_in
--}}
<div class="row text-center">
    <h2>Post</h2>
</div>

<div class="card w-100 my-2 bg-info" id="post-info" data-id="{{postDataClean.id}}">
    <div class="card-body">
        <div class="row text-white">
            <div class="col-8">
                <h5 class="card-title p-2 my-auto">{{postDataClean.title}}</h5>
            </div>
            <div class="col-4">
                <h6 class="card-subtitle p-2 my-auto">Posted by {{postDataClean.user.username}} on {{format_date postDataClean.createdAt}}</h6>
            </div>
        </div>
        <p class="card-text bg-white p-4">{{postDataClean.content}}</p>
    </div>
</div>

<div class="row text-center my-4">
    <h3>Comments</h3>
</div>

{{#each commentDataClean as |comment|}}
<div class="card w-100 my-2 bg-secondary">
    <div class="card-body">
        <div class="row text-white">
            <div class="col-8">
                <h5 class="card-title p-2 my-auto">{{comment.user.username}}</h5>
            </div>
            <div class="col-4">
                <h6 class="card-subtitle p-2 my-auto">{{format_date comment.createdAt}}</h6>
            </div>
        </div>
        <p class="card-text bg-white p-4">{{comment.content}}</p>
    </div>
</div>
{{/each}}

<div class="row my-3 bg-secondary text-center">
    <button class="btn btn-primary" id="display-comment-form">Add New Comment</button>
</div>

<div class="row my-3 bg-primary text-center" id="comment-form-row">
    <form>
        <div class="form-group text-center my-3">
            <label for="new-comment" class="text-white">Create New Comment</label>
            <input type="input" class="form-control my-2" id="new-comment" placeholder="Add your comment here...">
        </div>
        <button type="submit" id="add-comment" class="btn btn-primary my-2">Save</button>
    </form>
</div>

<script src="/js/post.js"></script>